
.inter-< uniquifier > {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: < weight >;
    font-style: normal;
}

.background {
    width: 1440px;
    height: 866px;
    background-image: url('img/Background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

body, html {
    margin: 0;
    padding: 0;
}

.Hero {
    width: 1440px;
    height: 866px;
}

.navbar {
    width: 1440px;
    height: 80px;
    display: flex;
}

.logo {
    padding: 24px 0px 24px 112px;
    display: flex;

}

.logo img {
    width: 128px;
    height: 32px;
    display: flex;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 10px;
    margin: 24px 0px 24px 32px;
}

nav ul li a {
    font-family: "Inter", sans-serif;
    font-weight: semi-bold;
    font-size: 14px;
    text-decoration: none;
    color: black;

}


.buttons-container {

    display: flex;
    gap: 12px;
    width: 282px;
    height: 40px;
    margin: 20px 0px 20px 0px;
    margin-left: 492px;
}

.buttons-container img {

    width: 135px;
    height: 40px;


}

.app-button:hover {
    border-radius: 5px;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.5);

}

div header {

    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 696px;
    height: 400px;
}
.block_1{
    width: 696px;
    height: 400px;

}
.text{
    width: 648px;
    height: 216px;
    margin: 96px 48px 32px 0px;
}

.container {
    display: flex;
    width: 1216px;
    height: 640px;
    margin: 72px 112px 74px 112px;
    gap: 32px;
}
h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 16px;
}

.header_2 {
    font-family: "Inter", sans-serif;
    font-weight: regular;
    font-size: 18px;
}




.block_2{
    width: 333px;
    height: 56px;
    gap: 16px;
}
button {

    background-color: #7c3aea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 138px;
    height: 56px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

button:hover {
    background-color: #9c27b0;
}

a {
    color: #ab47bc;
    text-decoration: none;
    margin-left: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: left;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.watch-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #7e3edb;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    width: 179px;
    height: 56px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;



}

.header{
    display: flex;
}

.phone img {
    width: 320px;
    height: 640px;
    object-fit: cover;
    margin: 0px 84px 0px 84px;
    border-radius:40px

}
.phone{
    width:488px ;
    height: 640px;

}

