body {
    padding: 0;
    margin: 0;
}

.nav {
}

.container {
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.menu {
    display: flex;
    width: 442px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 128px;
    height: 32px;

}

.menu-list {
    display: flex;
    width: 282px;
    height: 28px;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

}

.menu-list a {
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    display: block;
}

.buttons-container {
    display: flex;
    gap: 12px;
    width: 282px;
    height: 40px;
}

.buttons-container img {
    width: 135px;
    height: 40px;
}

.app-button:hover {
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}


.hero {
    height: 100vh;
    background-image: url("img/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    margin: 72px auto;
    display: flex;
    max-width: 1216px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    gap: 32px;
}


.hero-block {
    max-width: 696px;
    max-height: 400px;

}

.hero-text {

    padding: 96px 48px 0px 0px;
}

p {
    margin: 16px 0px 0px 0px;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 60px;
    margin: 0px;
}

.hero-subtitle {
    height: 56px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.block-buttons {
    width: 333px;
    height: 56px;
    padding: 32px 0 0 0;
    margin: 0px;

}

button {
    background-color: #7c3aea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 138px;
    height: 56px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

button:hover {
    background-color: #9c27b0;
}

.watch-button {
    display: inline-flex;
    gap: 8px;
    color: #7e3edb;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.phone img {
    width: 320px;
    height: 640px;
    object-fit: cover;
    margin: 0px 84px 0px 84px;
    border-radius: 40px
}

.phone {
    width: 488px;
    height: 640px;
}
